/* Copyright 1999-2014. Parallels IP Holdings GmbH. All Rights Reserved. */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, body { border: 0; margin: 0;}
body { background: #f9f9f9; font: 13px/1 arial, helvetica, sans-serif}
img { border: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; border-spacing: 0; }
form { margin: 0; padding: 0; border: 0; }
a, a:visited { color: #0050b4; }
a:hover, a:active { outline: 0; color: #00a0ff; }
hr { display: block; margin: .9em 0; padding: 0; height: 2px; border: 0; border-top: 1px solid #c8c8c8; box-shadow: inset 0 1px 0 #fff; }
.lte7 hr { margin: .5em 0; }
h1, h2 { margin: 10px 0 15px; padding: 0; font: italic 20px georgia, serif; color: #1e3c64; }
h2 { margin: 0 0 5px; font-size: 17px; }
h3 { margin: 0 0 8px; padding: 0; font-size: 13px; font-weight: 400; }
p { margin: 0; padding: 0 0 12px; }
ul { margin: 0; padding: 0; list-style: none; }
li { padding: 0 0 0px 5px; }
.site-content {padding-top:10px;}
.site-content p {font-size:15px;line-height:1.5;text-align:justify;}
.footer-alert {font-size:15px;line-height:1.2;text-align:justify;}
.leftNavLarge {display:none;}
.displayDisable{display:none;}
.displayBlock{display:block;}
.headLightText{font-size:30px;vertical-align:middle;padding:0 25px 0 25px;}
.headLightInput180{line-height: 25px; width: 180px; border: 1px solid rgb(218, 218, 218); padding: 5px 0 3px 0; margin-left:5px; border-radius: 5px; box-shadow: 0px 0px 10px rgb(218, 218, 218); outline: medium none;}
.searchInput150{width:150px;display:inline-block;margin:0 10px 0 10px;}
.validationImages{padding:5px 0px 0px;margin:5px 0px 0px;display:inline-block;}
.footerRow{margin:10px;}
.citeFont{font-size:13px;}
.back-to-top {cursor: pointer;position: fixed;bottom: 20px;right: 20px;display:none;}
.lightblue {background:#A9EDF7;}
.lightblue-text{color:#A9EDF7;}
.darkblue{background:#79CDF0;}
.darkblue-text{color:#79CDF0;}
.red{color:#F06060;}
.lightorange{background:#ff5114;}
.lightorange-text{color:#ff5114;}
.darkorange{background:#ff8114;}
.darkorange-text{color:#ff8114;}
.darkgrey{background:#c5c5c5;}
.darkgrey-text{color:#c5c5c5;}
.tableAnchor td {line-height:1!important;}


@media (min-width: 767px) {
	.navbar .container .navbarInitial {display: none!important;}
	.main-container .leftNavLarge {display: block!important;}
}

@media (max-width: 767px) {
	.btn-generate {margin-bottom:5px;}
	.btn-copy{margin-top:5px;}
	.headLightText{display:block;}
}